@model Instructor

<div class="card">
    <img src="~/Images/@Model.image" class="card-img-top" alt="Card image cap" style="width:100%">
    <h5 class="card-title">Name : @Model.name</h5>
    <p class="card-text">Salary :@Model.salary</p>
    <p class="card-text">Address :@Model.address</p>
    <p class="card-text">Department : @Model.DepartmentId</p>
    <p class="card-text">Course: @Model.CourseId</p>
    @* <a href="/Product/showall" class="btn btn-primary" class =""></a> *@
    @*     <p><button type="button" onclick="location.href='@Url.Action("showall", "Instructor")'">Back to List</button></p>
    *@    <p><button type="button" onclick="location.href='@Url.Action("showallwithvmodel", "Instructor")'">Back to List</button></p>
</div>
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

            .card button:hover {
                background-color: #E6F30A;
                color: black;
            }
</style>


